@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');

/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-color: #23262A;
$link-color: #0067c5;
$link-color-hover: #0056b4;
$border-color: rgba(0, 0, 0, 0.1);

$sidebar-fg: #0067c5;

$h1-font-size: 35px;
$h2-font-size: 32px;
$h3-font-size: 24px;


/*-- scss:rules --*/

/*-- Page font --*/

html * {
    font-family: 'Source Sans 3', sans-serif;
    color: #23262A;
}

div, p {
    font-size: 16px;
}


/*-- Layout tweaking --*/

#quarto-content {
    display: flex;
    flex-direction: column;
    background-color: #E6F1F8;
}

#quarto-document-content {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#title-block-header .quarto-title-block.default {
    display: flex;
    flex-direction: column;
}


.quarto-title {
    display: flex;
    justify-content: center;
    margin: 0 1em;
}

.title {
    display: flex;
    flex: 1;
    max-width: 800px;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    display: flex;
    justify-content: center;
}

#title-block-header.quarto-title-block.default .quarto-title-meta > div {
    display: flex;
    flex: 1;
    gap: 0.25rem;
    max-width: 800px;
    margin: 20px 1em 0 1em;
}

.quarto-title-meta-heading::after {
    content: ":";
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p,#title-block-header.quarto-title-block.default .quarto-title-authors p,#title-block-header.quarto-title-block.default .quarto-title-affiliations p {
    margin-bottom: 0em;
}


#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    text-transform: none;
    margin-top: unset;
    font-size: unset;
    opacity: unset;
}

pre {
    display: flex;
    flex: 1;
}


/*-- Nøkkeltall styling --*/

.nokkeltall pre > code {
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
    padding: 0;
}

.nokkeltallboks-layout {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1em;
}

.nokkeltallboks-innhold pre > code {
    display: flex;
    flex: 1;
    justify-content: center;

    padding: 35px 40px;
    background: #E6F1F8;
    border-radius: 1px;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.nokkeltallboks-innhold-hvit pre > code {
    display: flex;
    flex: 1;
    justify-content: center;

    padding: 35px 40px;
    background: #ffffff;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
}



.cell.nokkeltallboks-innhold, .cell.nokkeltallboks-innhold-hvit, .cell-output.cell-output-stdout {
    display: flex;
    flex: 1;
}

/*-- Intro --*/

.intro {
    display: flex;
    justify-content: center;
}


/*-- Sections --*/

#section-intro {
    display: flex;
    justify-content: center;
    background-color: #E6F1F8;
}

#section-intro-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 800px;
    margin: 0 1em;
    padding-bottom: 50px;
}

.level3 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#section1 {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    padding: 3rem 0;
}

#section1-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 800px;
    margin: 0 1em;
}

#section2 {
    display: flex;
    justify-content: center;
    background: #ECEEF0;
    padding: 3rem 0;
}

#section2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 1em;
}

#section3 {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    padding: 3rem 0;
}

#section3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 1em;
}

#section4 {
    display: flex;
    justify-content: center;
    background: #ECEEF0;
    padding: 3rem 0;
}

#section4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 1em;
}

div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
    color: #262626;
}

div.callout-note.callout {
    border-left-color: #005B82;
    background: #ffffff;
    margin: 10px 0;
}